*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(58, 170, 255);
}

.contenitore{
   background-color: white;
   height: 80px;
   width: 100%;
   display: inline-block;
}
.Logo{
    margin-left: 20px;
    margin-top: 20px;
}
h1{
    display: inline-block;
    font-size: 50px;
    line-height: 60px;
}
.quadrato{
    background-color: white;
    width: 900px;
    height: 600px;
    border-radius: 1%;
    margin-top: 100px;
    margin-left: 500px;
}
.bottoneblu{
    width: 80px;
    height: 40px;
    background-color: rgb(58, 170, 255);
    margin-top: 15px;
    margin-left: 60px;
    border-radius: 10px;
    border-color: rgb(58, 170, 255);
    display: inline-block;
    border: none;
}
.bottonebianco{
    width: 90px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    border-color: rgb(212, 216, 220);
}
hr{
    color: rgb(212, 216, 220);
    margin-top: 10px;
}